<% provide :title, t(".sp1") %>
<h1><%= t ".sp1" %></h1>

<div class="col-md-3">
<%= link_to image_tag("h4.png", alt: "h4", :size => "250x150"), id: "h4" %>
<p>SP 01</p>
</div>
Áo Sơ mi chấm sao

</div>
