<% provide :title, t(".sp3") %>
<h1><%= t ".sp3" %></h1>

<div class="col-md-3">
<%= link_to image_tag("h6.png", alt: "h6", :size => "250x150"), id: "h6" %>
<p>SP 03</p>
</div>
Áo sơ mi trắng 
</div>
