<% provide :title, t(".sp4") %>
<h1><%= t ".sp4" %></h1>

<div class="col-md-3">
<%= link_to image_tag("h7.png", alt: "h7", :size => "250x150"), id: "h7" %>
<p>SP 04</p>
</div>
Áo sơ mi cổ tròn
</div>
