<footer class="footer">
  <small>
    <b><%= t ".TopMen" %></b>
    <%= t "by" %> <b>Hung |Hieu </b>
  </small>
  <nav>
    <ul>
      <li><%= link_to Settings.phone_number, '#', class:"fa fa-phone-square" %></li>
      <li><%= link_to Settings.gmail, '#',class:"fa fa-envelope" %></li>
    </ul>
  </nav>
</footer>
